.audio-player {
  display: flex;
  .audio-player-wrapper {
    .play-button {
      object-fit: contain;

      &.play-button--play {
        width: 40px;
        height: 40px;
      }

      &.play-button--stop {
        width: 31px;
        height: 31px;
      }
    }

    .timeline {
      width: 100%;
      height: 5px;
      background: white;
      border: solid 1px black;
      margin-top: 27px;
      border-radius: 15px;

      .progress-meter {
        width: 0;
        height: 5px;
        float: left;
        border-radius: 15px;
        border: solid 1px purple;
        background-color: purple;
      }
    }

    .audio-duration {
      line-height: 36px;
      font-size: 10px;
      width: 100%;
      display: inline-block;
    }
  }
}